h1 { color: rgb(178, 84, 86);
    font-family: 50px;
    font-family: cursive;
    text-align: center;
    font-size: 80px;
    background-color: rgb(204, 167, 150);


}



div.ContentTable {

    display: flex;
    justify-content: space-between;
    align-items: center;


}
header {


    background-image: url(images/header\ tassel.avif);
    background-size:contain;

    padding: 5px

}



ul.content {

    display: flex;
    gap: 10px;

}

li.content {
    color:rgb(134, 72, 63);
background-color:rgb(204, 167, 150);
padding-left: 10px;
padding-right:10px;
padding-top: 5px;
padding-bottom: 5px;
border-color: rgb(134, 72, 63);

border-style: solid;
list-style: none;
font-family: cursive;
border-radius: 20px;


}

li:hover {
    color:rgb(204, 167, 150);
background-color:rgb(134, 72, 63);



}

a {
    text-decoration: none;
    color: inherit;


}

main {
justify-content: center;
    

margin-left: auto;
margin-right: auto;
align-items: center;
text-align: center;

}

div.wel {
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    width:300px;
    padding: 20px;
    background-color: rgb(204, 167, 150);
    color:rgb(134, 72, 63);
    font-family:Verdana, Geneva, Tahoma, sans-serif
    

}



h5 {   font-size: 25px;


}

div.wel:hover {
    background-color: rgb(134, 72, 63);
    color:  rgb(204, 167, 150);


}

div.welcome {

    display: flex;
    gap:80px;

    margin-left: 200px;
    margin-right: 200px;
}

div.contentrow {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}

div.food {

    border: 2px;
    border-style: solid;
    border-radius: 20px;
    width:400px;
   
    color:rgb(134, 72, 63);
    background-color:rgb(204, 167, 150);
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;

    margin-bottom: 20px;

    box-shadow: 0 0 25px #f5c8b4;

    position: relative;
        


}

div.food::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -80px;
    visibility: hidden;



}

div.menu {

    
 align-items: center;
 justify-content: center;
 padding-left: 500px;
 padding-right: 500px;
 

   
}

ul.stickymenu {
    display: flex;

    position: sticky;
    top: 0;
    justify-content: center;
    z-index: 999;


}


footer {

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url(images/header\ tassel.avif);
   
   
 height: 150px;
}

div.address {
    height: 150px;
 margin-top: 30px;

background-color: aqua;
width: 130px;
gap: 0px;
padding: 10px;

border: 2px;
border-style: solid;
border-radius: 20px;

background-color: rgb(134, 72, 63);
    color:  rgb(204, 167, 150);


}

div.address:hover {

    color:rgb(134, 72, 63);
background-color:rgb(204, 167, 150);


}

a.email {

    


    color: rgb(204, 167, 150);
    background-color:rgb(134, 72, 63) ;
padding-left: 10px;
padding-right:10px;
padding-top: 5px;
padding-bottom: 5px;
border-color: rgb(134, 72, 63);
border:2px;
border-style: solid;
list-style: none;
font-family: cursive;

margin-right: 50px;


    


}

a.email:hover {

  color: rgb(134, 72, 63) ;
  background-color: rgb(204, 167, 150);



}

div.contact {

    display:grid;
    gap: 5px;
   



}


body {


}


h2 {

    text-align: center;
    color: rgb(178, 84, 86);
    font-family: cursive;
    font-size: 50px;



}



div.directions {

    border: 2px;
    border-style: solid;
    width: 200;
    padding: 20px;
    border-radius: 20px;

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);


}

div.halawa {

    border: 2px;
    border-style: solid;
    width: 200;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);
}

div.ingredients {

    border: 2px;
    border-style: solid;
    width: 200;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);
    
}


div.reciepe {
    width: 400px;
    gap: 20px;
   
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-left: 490;
    margin-right: 490;

    align-items: center;
    justify-content: center;
    padding-left: 500px;
    padding-right: 500px;


 margin-bottom: 20px;

 border-radius: 20px;

}


iframe{ 

    margin-left: 450px;
    margin-right: 450px;
}

a.reference {

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);

    border: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;


}


div.table {
    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    border: 2px;
    border-style: solid;
    font-size: 18px;
    text-align: center;
    margin-left: 490px;
    margin-right: 490px;



}


div.email {

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    border: 2px;
    border-style: solid;
    font-size: 18px;
    text-align: center;
    margin-left: 490px;
    margin-right: 490px;

   


}


div.catering {

    color: rgb(134, 72, 63) ;
    background-color: rgb(204, 167, 150);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    border: 2px;
    border-style: solid;
    font-size: 18px;
    text-align: center;
    margin-left: 490px;
    margin-right: 490px;




}

button {
    background-color: rgb(134, 72, 63) ;
   color: rgb(204, 167, 150);
   border-radius: 20px;
   


}

div.emailmsg {

    margin-top: 20px;
    


}

div.gallery {

    text-align: center;



}